<template>
  <section class="home-page-section">
    <HeroComponent />
    <AboutComponent />
    <PickerComponent />
    <GameRulesComponent />
  </section>
</template>

<script>
import HeroComponent from "@/components/HeroComponent";
import AboutComponent from "@/components/AboutComponent";
import PickerComponent from "@/components/PickerComponent";
import GameRulesComponent from "@/components/GameRulesComponent";
export default {
  name: "HomePage",
  components: {
    HeroComponent,
    AboutComponent,
    PickerComponent,
    GameRulesComponent,
  },
};
</script>

<style scoped></style>
