<template>
  <div>
    <h5>What is Pop it exactly?</h5>
    <p>
      This is a child's game, in which the process can be compared to the
      bursting of a bubble wrap. But unlike film, pop-it can be pressed with the
      same characteristics sensation and sounds "endlessly": dozens of silicone
      bubbles are simply squeezed out in the other direction.
    </p>
  </div>
</template>

<script>
export default {
  name: "AboutComponent",
};
</script>

<style scoped></style>
