<template>
  <footer class="footer">
    <ul class="footer-list">
      <li class="footer-list-item">NOT_A_BUBBLE.COM</li>
      <li class="footer-list-item">Payment Methods</li>
      <li class="footer-list-item">Delivery</li>
      <li class="footer-list-item">Wholesale</li>
      <li class="footer-list-item">Contacts</li>
    </ul>
  </footer>
</template>

<script>
export default {
  name: "FooterComponent",
};
</script>

<style lang="scss" scoped>
.footer {
  padding: 30px;
  background-color: #363636;
  color: #ffffff;
  text-align: center;

  @media (min-width: 1024px) {
    padding: 50px;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    max-width: 1000px;

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-around;
      margin: 0 auto;
    }

    .footer-list-item:first-child {
      font-weight: bolder;
    }

    .footer-list-item:last-child {
      margin-bottom: 0;
    }

    .footer-list-item {
      margin-bottom: 20px;

      @media (min-width: 1024px) {
        margin-bottom: 0;
      }
    }
  }
}
</style>
