<template>
  <div>
    <div>
      <div>
        <h5>Rules of the game</h5>
        <p>
          Players takes turns and click on the bump. It is imperative to finish
          the row that you started. You can press a maximum of 3 bubbles at the
          same time (they must be near, you can not press several pimples at
          once, if they are not close to each other) The task is to make the
          opponent go last. Who went last - he lost!
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "GameRulesComponent",
};
</script>

<style scoped></style>
