<template>
  <div class="hero-container">
    <h1>POP IT.</h1>
    <p>Best Antistress Toy is the Endless toy bubble wrap!</p>
    <ButtonComponent>BUY</ButtonComponent>
  </div>
</template>

<script>
import ButtonComponent from "@/components/ButtonComponent";
export default {
  name: "HeroComponent",
  components: { ButtonComponent },
};
</script>

<style lang="scss" scoped>
.hero-container {
  padding: 50px 20px 200px 20px;
  background-color: #ffc569;
}
img {
  display: none;
}
</style>
