<template>
  <nav class="navigation">
    <div class="navigation-items-wrapper">
      <div class="navigation-logo">NOT_A_BUBBLE.COM</div>
      <div
        @click="handleMenuMobile"
        class="navigation-mobile-menu-icon-container"
      >
        <i v-if="!displayMenu" class="pi pi-bars"></i>
        <i v-if="displayMenu" class="pi pi-times"></i>
      </div>
      <ul v-if="displayMenu" class="navigation-mobile-menu-list">
        <li class="navigation-mobile-menu-item">About</li>
        <li class="navigation-mobile-menu-item">Sale</li>
        <li class="navigation-mobile-menu-item">Contacts</li>
      </ul>
      <ul class="navigation-desktop-menu-list">
        <li class="navigation-desktop-menu-item">About</li>
        <li class="navigation-desktop-menu-item">Sale</li>
        <li class="navigation-desktop-menu-item">Contacts</li>
      </ul>
    </div>
  </nav>
</template>

<script>
import { ref } from "vue";
export default {
  name: "NavigationComponent",

  setup() {
    const displayMenu = ref(false);

    const handleMenuMobile = () => {
      displayMenu.value = !displayMenu.value;
    };
    return {
      handleMenuMobile,
      displayMenu,
    };
  },
};
</script>

<style lang="scss" scoped>
.navigation {
  position: relative;
  padding: 30px;
  background-color: #ffc569;

  .navigation-items-wrapper {
    display: flex;
    align-items: center;
    max-width: 1000px;
    font-weight: bold;

    @media (min-width: 1024px) {
      margin: 0 auto;
    }
  }

  .navigation-logo {
    margin-right: auto;
  }

  .navigation-mobile-menu-icon-container {
    cursor: pointer;

    @media (min-width: 640px) {
      display: none;
    }
  }

  .navigation-mobile-menu-list {
    position: absolute;
    width: 100%;
    top: 50%;
    left: -50%;
    transform: translate(50%, 50%);
    padding: 50px;
    background-color: #ffe5b7;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 1024px) {
      display: none;
    }

    .navigation-mobile-menu-item {
      cursor: pointer;
      margin-bottom: 20px;
      opacity: 60%;
      transition: 0.3s ease-in-out all;

      &:hover {
        opacity: 100%;
      }
    }
    .navigation-mobile-menu-item:last-child {
      margin-bottom: 0;
    }
  }

  .navigation-desktop-menu-list {
    display: none;

    @media (min-width: 640px) {
      display: flex;
    }

    .navigation-desktop-menu-item {
      text-transform: uppercase;
      margin: 0 20px;
      cursor: pointer;
      transition: 0.3s ease-in-out all;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
</style>
