<template>
  <div>
    <h5>Choose your Pop-It!</h5>
    <div>
      <div>
        <p>Multicolored square</p>
      </div>

      <div>
        <p>Among Us, marbled</p>
      </div>

      <div>
        <p>Multicolored round</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PickerComponent",
};
</script>

<style scoped></style>
