<template>
  <NavigationComponent />
  <router-view />
  <FooterComponent />
</template>
<script>
import NavigationComponent from "@/components/NavigationComponent";
import FooterComponent from "@/components/FooterComponent";
export default {
  components: { NavigationComponent, FooterComponent },
};
</script>
